/* Change highlight color on page */
::selection {
    color: #98DEDE;
    background: transparent; /* WebKit/Blink Browsers */
    }
    
::-moz-selection {
    color: #98DEDE;
    background: transparent; /* Gecko Browsers */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Heebo', sans-serif;
    line-height: 1.6em;
    color: #efefef;
    background-color: #111111;
    margin: 0;
}

a {
    color: #efefef;
    text-decoration: none;
}


/*Magical Link Animation*/

.link {
    position: relative;
    white-space: nowrap;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #efefef;
    top: 100%;
    left: 0;
}

.link::before {
    content: '';
    /* show by default */
}

.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}



a:hover {
    opacity: 70%;
}

/*
a:active {
    background: #3f273d;
}
*/

.pageContainer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    grid-template-areas: "me" "elephant";
}

.gridContainer { /* Page grid container */
    grid-area: me;
    display: grid;
    max-width: 95vw;
    height: 100vh;
    padding: 0vw 10vw 0vw;
    grid-template-rows: auto 150px auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    grid-template-areas: "heading heading" "activities activities" "work social";
    justify-items: start;
    align-items: center;
}

.headingItem {
    padding: 0vw 0vw;
    height: 40vh;
    grid-area: heading;
    position: relative;
}

.headingFlexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.headingText {
    font-size: 6.7vw;
    line-height: 1.6em;
    font-weight: 500;
    padding-top: 10vh;
}

.unicornPoo {
    background: linear-gradient( 76.5deg,  rgba(129,252,255,1) 0.4%, rgba(255,175,207,1) 49.8%, rgba(255,208,153,1) 98.6% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headingIcon {
    width: 13vw;
    height: 260px;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0px 0px 0px -30px;
}

.activityItem {
    grid-area: activities;
}

.activityText {
    font-size: 1.6rem;
    font-weight: 400;
}

.workItem {
    grid-area: work;
    font-size: 1.4rem;
    font-weight: 400;
}

.workFlexbox {
    display: flex;
    flex-wrap: wrap;
}

.workLink {
    margin: 0 48px 0 0;
}

.linkIconText {
    display: inline;
}

.linkIcon {
    display: inline;
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.socialItem {
    grid-area: social;
    justify-self: end;
    display: flex;
    align-items: center;
}

.socialText {
    font-size: 1.4em;
    font-weight: 400;
}

.socialIcon {
    display: inline;
    margin-left: 24px;
}

a.socialIcon:hover {
    border-bottom: 0px solid;
}

a.socialIcon {
    padding: 8px;
}
