/* Change highlight color on page */
::selection {
    background: #cfffe2; /* WebKit/Blink Browsers */
    }
    
::-moz-selection {
background: #cfffe2; /* Gecko Browsers */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Heebo', sans-serif;
    line-height: 1.6em;
    color: #efefef;
    background-color: #111111;
}

a {
    color: #efefef;
    text-decoration: none;
}

a:hover {
    color: #efefef;
    border-bottom: 1px solid;
}

a:active {
    background: #3f273d;
}

.gridContainer { /* Page grid container */
    display: grid;
    max-width: 1400px;
    padding: 7vw 10vw 0vw;
    grid-template-rows: 2fr auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    grid-template-areas: "heading heading" "activities activities" "portfolio resume";
    justify-items: start;
}

.headingItem {
    padding: 0 vw 0vw 1.0vw;
    height: 50vh;
    grid-area: heading;
}

.headingFlexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.headingText {
    font-size: 6.0vw;
    font-weight: 500;
}

.unicornPoo {
    background: linear-gradient( 76.5deg,  rgba(129,252,255,1) 0.4%, rgba(255,175,207,1) 49.8%, rgba(255,208,153,1) 98.6% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.headingIcon {
    width: 250px;
    height: 260px;
    text-align: center;
    overflow: hidden;
}

.activityItem {
    grid-area: activities;
    padding: 0px 0px 12em;
}

.activityFlexbox {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.activityText {
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 18px;
}

.activityBG {
    border-radius: 8px;
    padding: 0px 0.3em;
}

.portfolioItem {
    color: #efefef;
    grid-area: portfolio;
    font-size: 1.4em;
    font-weight: 400;
    padding: 0px 0px 4em;
}

.resumeItem {
    grid-area: resume;
    font-size: 1.4em;
    font-weight: 400;
    padding: 0px 0px 4em;
}

.linkIconText {
    display: inline;
}

.linkIcon {
    display: inline;
    width: 24px;
    height: 24px;
}

.footerFlexbox {
    background-color: #efefef;
    color: #111111;
    max-width: 1400px;
    padding: 1vw 10vw 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:space-between;
}

.footerText {
    font-size: 1.2em;
    font-weight: 400;
    margin-right: 32px;
}

.linkFlexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

a.linkIconText {
    color: #111111;
}

