/* Change highlight color on page */
::selection {
    background: #efefef; /* WebKit/Blink Browsers */
    color: #111111;
    }
    
::-moz-selection {
    background: #efefef; /* Gecko Browsers */
    color: #111111;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Heebo', sans-serif;
    line-height: 1.6em;
    color: #efefef;
    background-color: #111111;
    margin: 0;
}

a {
    color: #efefef;
    text-decoration: none;
}

a:hover {
    opacity: 80%;
}

a:active {
    background: #3f273d;
}

/*Magical Link Animation*/

.link {
    position: relative;
    white-space: nowrap;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #efefef;
    top: 100%;
    left: 0;
}

.link::before {
    content: '';
    /* show by default */
}

.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.pageContainer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    grid-template-areas: "me" "kitty";
}

.gridContainer { /* Page grid container */
    grid-area: me;
    display: grid;
    max-width: 95vw;
    height: 100vh;
    padding: 0vw 10vw 0vw;
    grid-template-rows: auto 150px auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    grid-template-areas: "heading heading" "activities activities" "work social";
}

.headingItem {
    padding: 0vw 0vw;
    height: 40vh;
    grid-area: heading;
    position: relative;
}

.headingFlexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.headingText {
    font-size: 6.6vw;
    line-height: 1.6em;
    font-weight: 500;
    padding-top: 15vh;
}

.unicornPoo {
    background: linear-gradient( 76.5deg,  rgba(129,252,255,1) 0.4%, rgba(255,175,207,1) 49.8%, rgba(255,208,153,1) 98.6% );
    background-clip: linear-gradient( 76.5deg,  rgba(129,252,255,1) 0.4%, rgba(255,175,207,1) 49.8%, rgba(255,208,153,1) 98.6% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .headingIcon {
    width: 240px;
    height: 260px;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0px 0px 0px -30px;
} */

.headingIcon {
    width: 180px;
    padding: 40px 16px  0px 32px;
}

.currentWorkIcon{
    width: 100%;
}

.activityItem {
    grid-area: activities;
}

.activityText {
    font-size: 1.6rem;
    font-weight: 400;
}

.workItem {
    grid-area: work;
    font-size: 1.4rem;
    font-weight: 400;
    align-self: center;
}

.workFlexbox {
    display: flex;
    flex-wrap: wrap;
}

.workLink {
    margin: 0 48px 0 0;
}

.linkIconText {
    display: inline;
    padding: 16px 0px;
}

.linkIcon {
    display: inline;
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.socialItem {
    grid-area: social;
    justify-self: end;
    display: flex;
    align-items: center;
}

.socialText {
    font-size: 1.4em;
    font-weight: 400;
}

.socialIcon {
    display: inline;
    margin-left: 24px;
}

a.socialIcon:hover {
    border-bottom: 0px solid;
}

a.socialIcon {
    padding: 8px;
}

.kittyItem {
    grid-area: kitty;
    background: linear-gradient(90deg, rgba(129, 252, 255, 0.2) 0%, rgba(255, 175, 207, 0.2) 52.08%, rgba(255, 208, 153, 0.2) 100%);
}

.kittyGrid {
    display: grid;
    max-width: 95vw;
    padding: 40px 10vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "info form";
    grid-gap: 0px;
    justify-items: center;
    align-items: center;
}

.kittyTask {
    grid-area: info;
    justify-self: start;
    color: #ffffff;
}

.kittyTitle {
    font-size: 1.2rem;
    line-height: 1.6em;
    font-weight: 600;
}

.kittyDesc {
    font-size: 0.9rem;
    font-weight: 400;
    color: #bfbfbf;
}

.kittyInput {
    grid-area: form;
    justify-self: end;
    position: relative;
}

.formDiv {
    display: flex;
    position: relative;
    border-image-source: linear-gradient( 76.5deg,  rgba(129,252,255,1) 0.4%, rgba(255,175,207,1) 49.8%, rgba(255,208,153,1) 98.6% );
    border-width: 3px;
    border-image-slice: 1;
    border-style: solid;
}

.kittyPic {
    position: absolute;
    margin-top: -38px;
    margin-left: 50px;
    z-index: 10;
}

.nameInput {
    padding: 8px 16px;
    font-size: 1rem;
    font-family: inherit;
    margin: 0;
    border: none;
}

.nameInput:focus {
    outline: none;
}
 
.button {
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;

    /* usual styles */
    padding: 10px 16px;
    border: none;
    background: linear-gradient( 76.5deg,  rgba(129,252,255,1) 0.4%, rgba(255,175,207,1) 49.8%, rgba(255,208,153,1) 98.6% );
    font-family: inherit;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    color: #111111;

    transition: transform .1s ease-in-out;
}

.button:hover {
    transform: translate(0, -2px);
}

.button:active {
    transform: translate(0, 0px);
    outline: none;
}

.wallE {
    display: none;
}

.thankYouDiv {
    display: none;
}

/*mobile*/
@media only screen and (min-width: 0px) and (max-width: 640px) {

    .gridContainer { /* Page grid container */
        max-width: 100vw;
        height: auto;
        padding: 0px 24px 0px;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "heading heading" "activities activities" "work work" "social social";
    }

    .headingItem {
        height: 80vh;
    }

    .headingText {
        font-size: 5rem;
        line-height: 1.4em;
        padding-top: 120px;
    }

    .headingIcon {
        margin: 0px 0px 0px -60px;
    }

    .activityItem {
        height: 80vh;
        align-self: center;
    }
    

    .activityText {
        line-height: 1.8em;
        margin-bottom: 50px;
    }

    .workFlexbox {
        justify-content: space-between;
    }

    .workLink {
        margin: 0 16px 32px 0;
    }

    .socialItem {
        justify-self: center;
        display: flex;
        align-items: center;
        margin: 32px 0px;
    }

    .socialIcon {
        margin-left: 12px;
        margin-right: 12px;
    }

    .kittyGrid {
        max-width: 100vw;
        padding: 32px 24px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "info info" "form form";
    }

    .kittyTask {
        justify-self: center;
    }

    .kittyTitle {
        text-align: center;
    }

    .kittyInput {
        justify-self: center;
        position: relative;
    }

    .formDiv {
        margin: 64px 0px 40px;
    }

    .kittyPic {
        margin-top: 25px;
        margin-left: 155px;
    }
    
    .nameInput {
        padding: 8px 16px;
        width: 60vw;
    } 



}

/*tablet*/
@media only screen and (min-width: 641px) and (max-width: 990px) {

}


/*regular-screen*/
@media only screen and (min-width: 991px) and (max-width: 1279px) {

}
